{% extends "base.html" %}

{% block content_inf %}
    <div class="content_inf">
        <div class="kontakt">
            <div class="inf_1">Контакты</div>
            <div class="inf">г. Тюмень, ул. Холодильная, 65/7</div>
            <div class="inf">Торговый ряд «На Холодильной»</div>
            <div class="inf">Телефон: +7 (3452) 60-20-68</div>
            <div class="inf">Эл. почта: <a href="mailto:order@2400.ru">order@2400.ru</a></div>
            <div class="inf">ICQ: 236544786</div>
            <div class="inf">Время работы Салона: ежедневно с 08:00 до 20:00</div>
            <div class="inf_foto"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=gRmrSBPHf8NYO5Pvvod573dfgGXKYPBE&width=600&height=450"></script></div>

        </div>
    </div>
{% endblock %}