<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Сайт проба</title>
    <link rel="stylesheet" type="text/css" href="{% static 'katalogcvetov/css/proba.css' %}" />
</head>
<body>



<div class="container">

    <div class="banner">
        <ul>
            <li><a href="#">Банер:</a></li>
            <li><a href="#">Текст реклама:</a></li>
            <li><a href="#">Телефон:</a></li>
        </ul>


    </div>
    <div class = "top_menu_btn"> <!-- блок-обертка для меню -->
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Вопросы ответы</a></li>
        </ul>

    </div>
    <div class="content">
        <div class="kol_left">
            <ul>
                <li><a href="#">Розы</a></li>
                <li><a href="#">Фодны растения</a></li>
                <li><a href="#">Фиалки</a></li>
            </ul>

        </div>
        <div class="center">
            <ul>
                <li><a href="#">Имя растения</a></li>
                <li><a href="#">Цена р.</a></li>
                <li><a href="#">фото</a></li>
            </ul>
        </div>

    </div>

    <div class="footer">
        <ul>
            <li><a href="#">почта:</a></li>
            <li><a href="#">права:</a></li>
            <li><a href="#">счетчик:</a></li>
        </ul>
    </div>


</div>



{# emmit  http://emmet.io/#}
{#http://docs.emmet.io/cheat-sheet/#}
{#span{s;lsfke;sksk;l}#}
{#.roma>span.roma2>table#}
{#span*3#}
{#ul>li.dsa$*10#}
{#ul>li.dsa$$$*10#}
{#ul>li.dsa$@5*10#}
{#ul>li.dsa$@-*10#}



</body>
</html>