<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ТЕСТ ДОК</title>
    <link href="../../static/katalogcvetov/css/test.css" rel="stylesheet" type="text/css">
    <script src='../../static/katalogcvetov/js/jquery-1.11.3.min.js'></script>
    <script src="../../static/katalogcvetov/js/test.js"></script>
</head>

<body>
absolute
<div class="content">
    <div class="block_abs">
        <div class="box"></div>
        <div class="box2"></div>
        <div class="box3"></div>
    </div>

    <div class="select">
        Селект
        <div class="spisok">
            <div class="sp">Розы</div>
            <div class="sp">Грибы</div>
            <div class="sp">Лиственные</div>
            <div class="sp">Хвойные</div>
        </div>
    </div>

    <div class="select">
        Селект2
        <div class="spisok">
            <div class="sp">Розы</div>
            <div class="sp">Грибы</div>
            <div class="sp">Лиственные</div>
            <div class="sp">Хвойные</div>
        </div>
    </div>
    <input type="text"/>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus earum laudantium libero nobis nulla officia
    optio provident quasi quisquam sequi sit soluta suscipit velit, vitae voluptate. Nemo officiis pariatur velit!
</div>


<div class="btn">КНОПКА</div>
35433333 333333333 3333333 35wer eqqwer qwer eq q req ererqrqwr werqrewqr qewqwe w weqr
<div class="sli">КНОПэКА
    <div class="spmahini">
        <div class="sl">1-машина</div>
        <div class="sl">2-машина</div>
        <div class="sl">3-машина</div>
        <div class="sl">4-машина</div>
        <div class="kont">5-машина</div>
    </div>
</div>
435433333 333333333333 33333333 3333333 35wer eq rew qew qe q rqe reeqwrwerqwerqwer qwer eq q req ere 35wer eq rew qew
qe q rqe reeqwrwerqwerqwer qwer eq q req ere 35wer eq rew qew qe q rqe reeqwrwerqwerqwer qwer eq q req ererqrqwr
werqrewqr qewqwe w weqr
<div class="qw">fdsfsfsdfdsddsf</div>

fixed
relative
<div class="blog">
    <div class="top">
        ksdljfldksjfklsdfj kj klj klj klj lkjpoipoi jkl lk klj ju poi k lj klj kl jkljlkjlkj l jkljkjljk kjkljkj lkw

    </div>
    <div class="content1">
        <div class="col_left">
            <div class="cl_cont">1 dsfdsfsdfsd</div>
            <div class="cr_cont">2 cvbnvnvbnvnb</div>
            <div class="cr_cont">3 sdfgserewrewrw</div>
            sflksd flksdkl jfjkljsk ldjfkljd sklfjsdk ljflksjd kfljsdklfj sflksd flksdkl jfjkljsk ldjfkljd sklfjsdk
            ljflksjd kfljsdklfj
            lksd flksdkl jfjkljsk ldjfkljd sklfjsdk ljflksjd kfljsdklfj sflksd flksdkl jfjkljsk ldjfkljd sklfjsdk

        </div>
        <div class="col_right">
            sdcscdscs efsfse esfesf sefesfsef sef eases
            sdcsdcsc
            wdqdq
            dfgrdfg
            <div class="kn5">Кнопка
                <div class="kn_spisok">
                    <div class="kn_ka">1Тачка
                        <div class="kn_spisok">
                            <div class="kn_ka">1-Тачка-1+
                                <div class="kn_spisok">
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1+
                                        <div class="kn_spisok">
                                            <div class="kn_ka">1-Тачка-1</div>
                                            <div class="kn_ka">1-Тачка-1</div>
                                            <div class="kn_ka">1-Тачка-1</div>
                                            <div class="kn_ka">1-Тачка-1</div>
                                            <div class="kn_ka">1-Тачка-1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="kn_ka">1-Тачка-1+
                                <div class="kn_spisok">
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1+
                                        <div class="kn_spisok">
                                            <div class="kn_ka">1-Тачка-1</div>
                                            <div class="kn_ka">1-Тачка-1</div>
                                            <div class="kn_ka">1-Тачка-1</div>
                                            <div class="kn_ka">1-Тачка-1</div>
                                            <div class="kn_ka">1-Тачка-1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                        </div>
                    </div>
                    <div class=" kn_ka ">2Тачка
                        <div class="kn_spisok">
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1
                                <div class="kn_spisok">
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                    <div class="kn_ka">1-Тачка-1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" kn_ka ">3Тачка
                        <div class="kn_spisok">
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                        </div>
                    </div>
                    <div class=" kn_ka ">4Тачка
                        <div class="kn_spisok">
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                        </div>
                    </div>
                    <div class=" kn_ka ">5Тачка
                        <div class="kn_spisok">
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                            <div class="kn_ka">1-Тачка-1</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class='pusk'>Пуск
                <ul>
                    <li>Кнопка1
                        <ul>
                            <li>Кнопка1+
                                <ul>
                                    <li>Кнопка1</li>
                                    <li>Кнопка1+
                                        <ul>
                                            <li>Кнопка1</li>
                                            <li>Кнопка1</li>
                                            <li>Кнопка1</li>
                                            <li>Кнопка1</li>
                                        </ul>
                                    </li>
                                    <li>Кнопка1</li>
                                    <li>Кнопка1</li>
                                </ul>
                            </li>
                            <li>Кнопка1</li>
                            <li>Кнопка1+
                                <ul>
                                    <li>Кнопка1</li>
                                    <li>Кнопка1</li>
                                    <li>Кнопка1</li>
                                    <li>Кнопка1</li>
                                </ul>
                            </li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                        </ul>
                    </li>
                    <li>Кнопка2
                        <ul>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                        </ul>
                    </li>
                    <li>Кнопка3
                        <ul>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                        </ul>
                    </li>
                    <li>Кнопка4
                        <ul>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                        </ul>
                    </li>
                    <li>Кнопка1
                        <ul>
                            <li>Кнопка1</li>
                            <li>Кнопка1</li>
                        </ul>
                    </li>
                </ul>
            </div>

            sdcscdscs efsfse esfesf sefesfsef sef eases
            sdcsdcsc
            wdqdq
            dfgrdfg

            sdcscdscs efsfse esfesf sefesfsef sef eases
            sdcsdcsc
            wdqdq
            dfgrdfg
        </div>
        sdcscdscs efsfse esfesf sefesfsef sef eases
        sdcsdcsc
        wdqdq
        dfgrdfg
    </div>
    <div class="niz">wadwadad</div>

</div>

<div class="slider">

    <div class="ramka">
        <img src="../../media/slider/1.jpg" height="100" width="100"/>
        <img src="../../media/slider/2.jpg" height="100" width="100"/>
        <img  src="../../media/slider/3.jpg" height="100" width="100"/>
    </div>
    <div class="qwe">bvbv</div>
     <div class="left">
            <div class="le_knopka"><</div>
        </div>
        <div class="cont"></div>
        <div class="right">
            <div class="ri_knopka">></div>
        </div>
        <div class="bottom">
            <div class="bt_knopka"></div>
            <div class="bt_knopka"></div>
            <div class="bt_knopka"></div>
        </div>
    <div class="">

    </div>
</div>
</body>
</html>
