{% extends "base.html" %}


{% block kol_left %}

    <ul>
        {% for vidirasteniy in VidiRasteniySpisok %}
            <li><a href="{% url 'KatalogCvetov:vidrasteniya' vidirasteniy.id %}">{{ vidirasteniy.name_vida }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

{% block right %}
    <div class="kol_right">
        <div class="sort">
            <div class="sort1"><a href="{% url 'KatalogCvetov:vidrasteniya' id_vida  %}?sort={{ sortinvert }}">А-я</a></div>
        </div>
        {% if KatalogCvetov %}
            <div class="katalog_cvetov">
                <div class="stroka0">{{ vid }}</div>
                {% for katalog in KatalogCvetov %}
                    <div class="stroka1">
                        <div class="pole1">
                            <a href="{% url 'KatalogCvetov:rastenie' katalog.id %}">{{ katalog.name_rosteniya }}</a>
                        </div>
                        <div class="pole2"><a
                                href="{% url 'KatalogCvetov:rastenie' katalog.id %}">{{ katalog.cena }}р.</a>
                        </div>
                        <div class="pole3"><a href="{% url 'KatalogCvetov:rastenie' katalog.id %}">
                            <img src="{{ MEDIA_URL }}{{ katalog.photo }}" height="100" width="100"/>
                        </a></div>
                    </div>
                {% endfor %}

            </div>
        {% else %}
            <p>нет информации</p>
        {% endif %}
        <div class="sort">
{#            <div class="sort1"><a href="{% url 'KatalogCvetov:katalogrostza' %}">А-я</a></div>#}
        </div>
    <div class="sort">
            <div class="sort1"><a href="{% url 'KatalogCvetov:vidrasteniya' id_vida  %}?sort={{ sortinvert }}">А-я</a></div>
        </div>
    </div>

{% endblock %}





{#!!! Набираем например ul  и жмем клавишу Tab на клавиатере !!!#}
{# emmit  http://emmet.io/#}
{#http://docs.emmet.io/cheat-sheet/#}
{#span{s;lsfke;sksk;l}#}
{#.roma>span.roma2>table#}
{#span*3#}
{#ul>li.dsa$*10#}
{#ul>li.dsa$$$*10#}
{#ul>li.dsa$@5*10#}
{#ul>li.dsa$@-*10#}
